<a href="https://colab.research.google.com/github/2004khushi/movie_recommendation_model/blob/main/movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [30]:
df = pd.read_csv('movies_metadata.csv')
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [32]:
(df.isna().sum()) == (df.isnull().sum())

adult                    True
belongs_to_collection    True
budget                   True
genres                   True
homepage                 True
id                       True
imdb_id                  True
original_language        True
original_title           True
overview                 True
popularity               True
poster_path              True
production_companies     True
production_countries     True
release_date             True
revenue                  True
runtime                  True
spoken_languages         True
status                   True
tagline                  True
title                    True
video                    True
vote_average             True
vote_count               True
dtype: bool

In [33]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [34]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [35]:
df['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

# ab pehle khudke knowledge se apan pata lgaate h ki kon konsi features imp h for sure in movie recommendation.
# this usually happens according to user taste.. his most liked ones, konse genre ki vo dekhra mostly and all.
1) genres
2) title(abhi part 1 dekhra to next part 2 dekhk skta so usme checkings me kaam aayega(rule baseD), aint getting used in recommendation directly)
3) overview(isme movie ka sumup hai so this will help in connecting us with user ne abhi tak me jo jo movie dekhi h unke overview and is movie ke overview me if h high chance of match to ye recommend krdenge)
4) popularity(kyuki movie is quite popular so can recommend as user might want to try new things, but only if that new will be worth then only will he change his taste too)
5) production_companies are like MEH. types (bcs sm ppl actually see movie based on it, maybe they have some trust on them and all; nd hence as user is watching is prodn company ki hi most movies to i shud recommend him us companies ki)
6) release_date (yeah it is like release_date+genre, or maybe if u just want user to try on smtg new genre or thing u can say it's newly release and then show it with vote coounts or popularity so he might wanna try types)
7) spoken_lang (OBV)
8) status and release_date are same only so maybe will take only 1?
9) tagline (it can be used in similar way as overview altho here content woud be less but can figure out similarities types)
10) vote_avg and vot_count and popularity come under same range so will see for that
11) runtime (as uk many times we go like ye choti h jldi complete hojayegi so lets jsut see it.)
12) original_language (Sometimes better than spoken_languages, bcs many ppl hates watching dubbings)
13) belongs_to_collection (bcs usme franchise h-> here that part 1 dekha to part 2 bhi dekhega hi wala h)


-> ye sab to bilkul kaam ke nhi h -
id
budget
imdb_id
revenue
poster_path
prodn_countries
original_title
urls
homepage

In [36]:
df = df.drop(columns=['budget', 'homepage', 'id',
       'imdb_id', 'original_title', 'poster_path', 'production_companies',
       'production_countries'])
df.columns

Index(['adult', 'belongs_to_collection', 'genres', 'original_language',
       'overview', 'popularity', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

feature grouping  <br />
**---> Core similarity features**

genres

overview

tagline (merged)

<br />


**---> Secondary / conditional**

title (franchise boost) [ui]

runtime

spoken_languages or in filtering

original_language or in filtering

<br />

**--->Ranking / filtering only**

vote_average

vote_count

popularity

release_date

status

adult

In [37]:
df.isna().sum()

adult                        0
belongs_to_collection    40972
genres                       0
original_language           11
overview                   954
popularity                   5
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## for tagline -> Facts:

More than half missing

When present â†’ meaningful

When missing â†’ silence, not noise

Correct handling:

Fill NA with empty string

Merge with overview

Give low weight

In [38]:
df['overview'] = df['overview'].fillna('')
df['tagline'] = df['tagline'].fillna('')
df = df.dropna(subset=['title'])

df[['overview','tagline','title']].isnull().sum()

overview    0
tagline     0
title       0
dtype: int64

In [39]:
df= df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

np.int64(0)

In [40]:
# now let's see what's in genre and if it needs some cleaning
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [41]:
#to hume isme ye faaltu ki id thodi chhaiye we just need the genre in it!
import ast
df['genres'] = df['genres'].apply(lambda x :" ".join([i['name'] for i in ast.literal_eval(x)]))
df['genres'].head()

0     Animation Comedy Family
1    Adventure Fantasy Family
2              Romance Comedy
3        Comedy Drama Romance
4                      Comedy
Name: genres, dtype: object

In [42]:
df['genres'].isnull().sum()

np.int64(0)

In [43]:
df['tags'] = df['overview'] +" "+ df['tagline'] +" "+ df['genres']
df['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.  Animation Comedy Family"

In [44]:
df.head(2)

,adult,belongs_to_collection,genres,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,tags
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",Animation Comedy Family,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,False,7.7,5415.0,"Led by Woody, Andy's toys live happily in his ..."
1,False,NaN,Adventure Fantasy Family,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...

In [45]:
#data cleaning for nlp ->

# 1) removal of punctuations
# 2) removal of stop words
# 3) lemmatizer (ending and end is same so ending ko end(uske root word) pe lejaayenge!)

import nltk
from nltk.corpus import stopwords
import re
from nltk.stem import WordNetLemmatizer

In [46]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [47]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

In [48]:
def preprocess_text(text):
  #1) lower everyone taaki when and When ko alag na dekhajaaye
  text = str(text).lower()

  #2) remove punctuattions
  text = re.sub(r'[^a-zA-Z\s]', '',text)

  #3) word tokenization
  words = text.split()

  #4) remove stop words
  words = [word for word in words if word not in stop_words]

  #5) Lemmatize
  words = [lemmatizer.lemmatize(word) for word in words]

  #6) join words
  text = ' '.join(words)

  return text

In [49]:
df['tags'] = df['tags'].apply(preprocess_text)

In [50]:
df['tags'][0]

'led woody andys toy live happily room andys birthday brings buzz lightyear onto scene afraid losing place andys heart woody plot buzz circumstance separate buzz woody owner duo eventually learns put aside difference animation comedy family'

In [86]:
# reset_index
df = df.reset_index(drop=True)
indices = pd.Series(df.index, index=df['title'])
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45442
Century of Birthing            45443
Betrayal                       45444
Satan Triumphant               45445
Queerama                       45446
Length: 45447, dtype: int64

In [87]:
# vectorization
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf  = TfidfVectorizer(max_features=50000,ngram_range=(1,2),stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['tags'])
tfidf_matrix.shape

(45447, 50000)

In [88]:
print(tfidf.get_feature_names_out())

['aa' 'aamir' 'aamir khan' ... 'zulu' 'zurich' 'zyto']

## Cosine Similarity

In [89]:
from sklearn.metrics.pairwise import cosine_similarity

In [96]:
def recommend(title, n=10):
    if title not in indices:
        return ['Movie not found']

    idx = indices[title]

    sim_score = cosine_similarity(
        tfidf_matrix[idx],
        tfidf_matrix
    ).flatten()

    sim_idx = sim_score.argsort()[::-1][1:n+1]

    return df['title'].iloc[sim_idx]

In [91]:
recommend('Toy Story')

2996                Toy Story 2
15344               Toy Story 3
24512                 Small Fry
17184                 Group Sex
28972           Superstar Goofy
6434     What's Up, Tiger Lily?
11396    For Your Consideration
1071      Rebel Without a Cause
1931                  Condorman
485                      Malice
Name: title, dtype: object

In [97]:
recommend('Grumpier Old Men')

35559                         Max
9205     An Extremely Goofy Movie
23866    The Hundred-Foot Journey
3329               Grumpy Old Men
34560                    PG 16...
9115             Wishful Thinking
4100                Heartbreakers
235                 A Goofy Movie
32160    Unter UmstÃ¤nden verliebt
36982                   Sin hijos
Name: title, dtype: object

In [98]:
import pickle
pickle.dump(indices, open('indices.pkl', 'wb'))
pickle.dump(tfidf, open('tfidf.pkl', 'wb'))
pickle.dump(tfidf_matrix, open('tfidf_matrix.pkl', 'wb'))
df.to_pickle('df.pkl')

In [99]:
df.columns

Index(['adult', 'belongs_to_collection', 'genres', 'original_language',
       'overview', 'popularity', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'tags'],
      dtype='object')

## Applying filters and ranks

**STEP 1: Base similarity** <br />
This gives you candidates, not final recommendations.

In [100]:
def get_similar_indices(title, top_k=50):
    idx = indices[title]

    sim_scores = cosine_similarity(
        tfidf_matrix[idx],
        tfidf_matrix
    ).flatten()

    # exclude the movie itself
    similar_indices = sim_scores.argsort()[::-1][1:top_k+1]

    return similar_indices, sim_scores

**STEP 2: SECONDARY / CONDITIONAL LOGIC** <br />

(Franchise boost, availability, safety) <br />

These are hard rules.

In [101]:
def apply_secondary_filters(candidate_indices):
    filtered = []

    for i in candidate_indices:
        # must be released
        if df.loc[i, 'status'] != 'Released':
            continue

        # remove adult content
        if df.loc[i, 'adult'] == True:
            continue

        filtered.append(i)

    return filtered

**STEP 3: OPTIONAL USER FILTERS** <br />

(language, runtime) <br />

These depend on user preference, not similarity.

In [102]:
def apply_user_filters(
    candidate_indices,
    allowed_languages=None,
    max_runtime=None
):
    filtered = []

    for i in candidate_indices:
        if allowed_languages is not None:
            if df.loc[i, 'original_language'] not in allowed_languages:
                continue

        if max_runtime is not None:
            if pd.isna(df.loc[i, 'runtime']) or df.loc[i, 'runtime'] > max_runtime:
                continue

        filtered.append(i)

    return filtered

**STEP 4: RANKING (this is the most important part)**

We now order, not remove.

Simple & correct ranking formula:

*   similarity â†’ primary
*   vote_average â†’ quality
*   popularity â†’ discoverability
*   vote_count â†’ confidence

In [107]:
df['vote_average'] = pd.to_numeric(df['vote_average'], errors='coerce')
df['vote_count'] = pd.to_numeric(df['vote_count'], errors='coerce')
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')

def rank_candidates(candidate_indices, sim_scores):
    ranked = []

    for i in candidate_indices:
        similarity = sim_scores[i]

        vote_avg = df.loc[i, 'vote_average']
        vote_cnt = df.loc[i, 'vote_count']
        popularity = df.loc[i, 'popularity']

        # handle NaNs safely
        vote_avg = 0 if pd.isna(vote_avg) else vote_avg
        vote_cnt = 0 if pd.isna(vote_cnt) else vote_cnt
        popularity = 0 if pd.isna(popularity) else popularity

        score = (
            0.6 * similarity +
            0.2 * vote_avg +
            0.15 * np.log1p(vote_cnt) +
            0.05 * popularity
        )

        ranked.append((i, score))

    ranked.sort(key=lambda x: x[1], reverse=True)
    return [i for i, _ in ranked]

**STEP 5: FINAL RECOMMEND FUNCTION**

In [108]:
def recommend_with_filters(
    title,
    n=10,
    allowed_languages=None,
    max_runtime=None
):
    if title not in indices.index:
        return ['Movie not found']

    # 1. similarity
    candidate_indices, sim_scores = get_similar_indices(title)

    # 2. secondary filters
    candidate_indices = apply_secondary_filters(candidate_indices)

    # 3. user filters
    candidate_indices = apply_user_filters(
        candidate_indices,
        allowed_languages=allowed_languages,
        max_runtime=max_runtime
    )

    # 4. ranking
    ranked_indices = rank_candidates(candidate_indices, sim_scores)

    return df['title'].iloc[ranked_indices[:n]].values

In [109]:
recommend_with_filters(
    'Toy Story',
    allowed_languages=['en'],
    max_runtime=120
)

array(['Toy Story 3', 'Toy Story 2', 'Manhattan', 'Rebel Without a Cause',
       'Small Fry', 'Justice League: War', "White Men Can't Jump",
       'Sleeper', 'Banana', 'Partysaurus Rex'], dtype=object)

In [110]:
recommend_with_filters('Superstar Goofy')

array(['Captain Underpants: The First Epic Movie', 'Despicable Me 2',
       'The Emoji Movie', 'The Simpsons Movie',
       'One Hundred and One Dalmatians', 'Monster House', 'Anomalisa',
       'Banana', "Dug's Special Mission", 'Partysaurus Rex'], dtype=object)

In [112]:
recommend_with_filters(
    'Toy Story',
    allowed_languages=['fr']
)

array(['Paris-Manhattan'], dtype=object)

In [113]:
recommend_with_filters(
    'Toy Story',
    max_runtime=90
)

array(['Small Fry', 'Justice League: War', 'Sleeper', 'Banana',
       'Partysaurus Rex', 'For Your Consideration',
       'Toy Story of Terror!', 'Africa Screams', 'Paris-Manhattan',
       'Formula of Love'], dtype=object)

**If wanna see why smtg got recommended ->**

In [114]:
def recommend_with_scores(title, n=10):
    idx = indices[title]
    sim = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
    sim_idx = sim.argsort()[::-1][1:n+1]

    return list(zip(
        df['title'].iloc[sim_idx].values,
        sim[sim_idx]
    ))

recommend_with_scores('Toy Story')

[('Toy Story 2', np.float64(0.39523372064379225)),
 ('Toy Story 3', np.float64(0.3656496762760764)),
 ('Small Fry', np.float64(0.2539184234434008)),
 ('Group Sex', np.float64(0.17226889058002995)),
 ('Superstar Goofy', np.float64(0.17206759241929942)),
 ("What's Up, Tiger Lily?", np.float64(0.1683369651726189)),
 ('For Your Consideration', np.float64(0.14733295326670148)),
 ('Rebel Without a Cause', np.float64(0.13778179378174218)),
 ('Condorman', np.float64(0.13688661078647302)),
 ('Malice', np.float64(0.12946974949562765))]

In [ ]:
pickle.dump