<a href="https://colab.research.google.com/github/2004khushi/movie_recommendation_model/blob/main/movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [26]:
df = pd.read_csv('movies_metadata.csv')
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [28]:
(df.isna().sum()) == (df.isnull().sum())

adult                    True
belongs_to_collection    True
budget                   True
genres                   True
homepage                 True
id                       True
imdb_id                  True
original_language        True
original_title           True
overview                 True
popularity               True
poster_path              True
production_companies     True
production_countries     True
release_date             True
revenue                  True
runtime                  True
spoken_languages         True
status                   True
tagline                  True
title                    True
video                    True
vote_average             True
vote_count               True
dtype: bool

In [29]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [30]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [31]:
df['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

# ab pehle khudke knowledge se apan pata lgaate h ki kon konsi features imp h for sure in movie recommendation.
# this usually happens according to user taste.. his most liked ones, konse genre ki vo dekhra mostly and all.
1) genres
2) title(abhi part 1 dekhra to next part 2 dekhk skta so usme checkings me kaam aayega(rule baseD), aint getting used in recommendation directly)
3) overview(isme movie ka sumup hai so this will help in connecting us with user ne abhi tak me jo jo movie dekhi h unke overview and is movie ke overview me if h high chance of match to ye recommend krdenge)
4) popularity(kyuki movie is quite popular so can recommend as user might want to try new things, but only if that new will be worth then only will he change his taste too)
5) production_companies are like MEH. types (bcs sm ppl actually see movie based on it, maybe they have some trust on them and all; nd hence as user is watching is prodn company ki hi most movies to i shud recommend him us companies ki)
6) release_date (yeah it is like release_date+genre, or maybe if u just want user to try on smtg new genre or thing u can say it's newly release and then show it with vote coounts or popularity so he might wanna try types)
7) spoken_lang (OBV)
8) status and release_date are same only so maybe will take only 1?
9) tagline (it can be used in similar way as overview altho here content woud be less but can figure out similarities types)
10) vote_avg and vot_count and popularity come under same range so will see for that
11) runtime (as uk many times we go like ye choti h jldi complete hojayegi so lets jsut see it.)
12) original_language (Sometimes better than spoken_languages, bcs many ppl hates watching dubbings)
13) belongs_to_collection (bcs usme franchise h-> here that part 1 dekha to part 2 bhi dekhega hi wala h)


-> ye sab to bilkul kaam ke nhi h -
id
budget
imdb_id
revenue
poster_path
prodn_countries
original_title
urls
homepage

Final corrected feature grouping  <br />
**---> Core similarity features**

genres

overview

tagline (merged)

<br />


**---> Secondary / conditional**

title (franchise boost) [ui]

runtime

spoken_languages or in filtering

original_language or in filtering

<br />

**--->Ranking / filtering only**

vote_average

vote_count

popularity

release_date

status

adult

In [32]:
df.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## for tagline -> Facts:

More than half missing

When present â†’ meaningful

When missing â†’ silence, not noise

Correct handling:

Fill NA with empty string

Merge with overview

Give low weight

In [33]:
df['overview'] = df['overview'].fillna('')
df['tagline'] = df['tagline'].fillna('')
df = df.dropna(subset=['title'])

df[['overview','tagline','title']].isnull().sum()

overview    0
tagline     0
title       0
dtype: int64

In [34]:
df= df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

np.int64(0)

In [35]:
# now let's see what's in genre and if it needs some cleaning
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [36]:
#to hume isme ye faaltu ki id thodi chhaiye we just need the genre in it!
import ast
df['genres'] = df['genres'].apply(lambda x :" ".join([i['name'] for i in ast.literal_eval(x)]))
df['genres'].head()

0     Animation Comedy Family
1    Adventure Fantasy Family
2              Romance Comedy
3        Comedy Drama Romance
4                      Comedy
Name: genres, dtype: object

In [37]:
df['genres'].isnull().sum()

np.int64(0)

In [39]:
df['tags'] = df['overview'] + df['tagline'] + df['genres']
df['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.Animation Comedy Family"

In [41]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,tags
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation Comedy Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,False,7.7,5415.0,"Led by Woody, Andy's toys live happily in his ..."
1,False,NaN,65000000,Adventure Fantasy Family,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...